 h1{
	position: relative;
	padding-top:30px;
	padding-left:20px;
	margin-left:20px;
	bottom:30px;
	font-size: 60px;
	font-family: Tahoma, Geneva, sans-serif;
	padding-left:30px;


}




body {
	margin: 0 auto; 
	width: 70%; 
	max-width: 750px;
	display:grid;
	
}




image{
	grid-row: 2/ span 2;
	grid-column: 1/ span 3;

}

p{
	grid-row:2/ span 2;
	grid-column: 4/ span 4;
}

footer{
	grid-row:3/ span 2;
	grid-column: 1/ span 3;
}



a{
	text-decoration: none;
	
}

a:hover{
	color:#f4f9f6;

}

section{
	background: #2a2d2b;
}

sub{
	padding:20px;
} 
@media (max-width: 500px) {
     figure {
          float: none;
          margin-left: 0;
     }
} 